export(migration.cmr)
export(migration.gini)
export(migration.gini.col)
export(migration.gini.col.standardized)
export(migration.gini.exchange.standardized)
export(migration.gini.in)
export(migration.gini.row)
export(migration.gini.row.standardized)
export(migration.gini.total)
S3method(print,migration.gini)
